.git/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env.bak/
venv.bak/
**/db.sqlite3
**/db.sqlite3-journal
.DS_Store
**/*.log
**/media/
**/staticfiles/
.env
Dockerfile
docker-compose.yml
ecommerce/ui-project/
